Demo/cwl_configuration/Python/demo/__pycache__/__init__.cpython-312.pyc
Demo/cwl_configuration/Python/demo/__pycache__/test1.cpython-312.pyc
cwl_configuration/CPP_CMake/bin/CPP_CMake.exe
cwl_configuration/CPP_CMake/build/.cmake/api/v1/query/client-vscode/query.json
cwl_configuration/CPP_CMake/build/.cmake/api/v1/reply/cache-v2-f56ae537261efae87513.json
cwl_configuration/CPP_CMake/build/.cmake/api/v1/reply/cmakeFiles-v1-afeba9eef8bf8feb6fd9.json
cwl_configuration/CPP_CMake/build/.cmake/api/v1/reply/directory-.-Debug-f040eec181a89de70dbe.json
cwl_configuration/CPP_CMake/build/.cmake/api/v1/reply/codemodel-v2-6b8d9c168abcddeaec44.json
/cwl_configuration/CPP_CMake/build
/cwl_configuration/CPP_CMake/.vscode
/cwl_configuration/CPP_CMake/bin
cwl_configuration/CPP_MSVC/test.exe
cwl_configuration/CPP_MSVC/test.pdb
cwl_configuration/CPP_MSVC/test.ilk
cwl_configuration/CPP_MSVC/test.obj
cwl_configuration/CPP_MSVC/vc140.pdb
/Exercises/0CppVersion/build
/Exercises/0CppVersion/build
/Exercises/0CppVersion/build
/Exercises/0CppVersion/build
Exercises/0CppVersion/build/.cmake/api/v1/reply/cache-v2-d4612830959c4ce68f57.json
Exercises/0CppVersion/build/.cmake/api/v1/reply/cache-v2-d4612830959c4ce68f57.json
/Exercises/0CppVersion/build
Exercises/0CppVersion/build/.cmake/api/v1/reply/cache-v2-d4612830959c4ce68f57.json
Exercises/0CppVersion/build/.cmake/api/v1/reply/cmakeFiles-v1-57bdd724113f5c41f7e6.json
/Exercises/0CppVersion/build/.cmake
/Exercises/0CppVersion/build
/Exercises/0CppVersion/build
